* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.topWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 270px;
}

.playpause {
  position: absolute;
  left: 220px;
  top: 70px;
  z-index: 30;
  cursor: pointer;
}

#flipButton {
  position: absolute;
  left: 220px;
  top: 140px;
  z-index: 30;
  cursor: pointer;
}

#canv {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#silcanvas canvas {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 300px;
}

#thumblabel {
  position: absolute;
  top: 10px;
  left: 220px;
  z-index: 20;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#probnum,
#timer {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#probnum {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#timer {
  font-family: "Roboto Mono", monospace;
  color: #555;
  white-space: pre-wrap;
}

svg text {
  /* cursor: default; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#levelSelectorWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cardArrow {
  color: #555;
  z-index: 10;
}

#legendWrapper {
  color: #555;
  position: absolute;
  width: 300px;
  top: 200px;
  left: 0px;
}
#legendWrapper > div {
  display: flex;
  justify-content: space-between;
}
#legendWrapper > div > div {
  display: flex;
  align-items: center;
}
#legendWrapper > div > div:nth-child(1) {
  width: 85px;
  white-space: nowrap;
  justify-content: flex-end;
  margin-right: 20px;
}
#legendWrapper > div > div:nth-child(2) {
  width: 150px;
  margin-right: 20px;
  white-space: nowrap;
}
#legendWrapper > div > div:nth-child(3) {
  width: 40px;
  justify-content: center;
}
#legendWrapper > div:nth-child(n+2) {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}
#legendWrapper > div:nth-child(n+2) > div:nth-child(1) {
  text-transform: uppercase;
}
#legendWrapper > div:nth-child(n+2) > div:nth-child(3) {
  white-space: pre-wrap;
}
#legendWrapper > div:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}
#legendWrapper > div:nth-child(1) > div:nth-child(2) {
  padding-left: 45px;
  margin-bottom: 2px;
}
#legendWrapper > div:nth-child(4) > div:nth-child(2) {
  padding-left: 9.2px;
}

.colorBar {
  width: 100%;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.colorSquare {
  background-color: white;
  width: 94.61px;
  height: 10px;
}

.ryg {
  background: linear-gradient(to right, #0f0, #ff0 50%, #f00);
}

.blue {
  background: linear-gradient(to right, #bababa, #7575ff);
}

/*# sourceMappingURL=index.css.map */
