.flexx {
  /* position: absolute; */
  /* left: 10px; */
  display: flex;
  flex-direction: row;
} 

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

#canv {

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  height: 800px;
  width: 1200px;
  border-radius: 15px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


#flip {
  position: absolute;
  top: 200px; right: 200px;
}

#menubutton{
  position: absolute;
  top: 10px; right: 20px;
  z-index: 10;
}
#backtogame{
  position: absolute;
  top: 40px; right: 20px;
}

#menu {

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  height: 800px;
  width: 1200px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background-color: rgba(204, 204, 204, .7);
}


#mainCanvas {
  position: 'absolute';
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 'auto';
}
 
/* 
#silcanvas canvas{
  height: 300px;
  width: 300px;
} */

#thumblabel {
  position:absolute;
  left:330px;
  top: 140px;
  /* bottom:150px; */
  z-index: 20;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

svg text {
  /* cursor: default; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }