* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#menu, #canv {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 100%;

  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  overflow: hidden;
}

#info {
  position: absolute;
  // background-color: #0f0;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 5px white;
  div {
    width: min(80%,700px);
  }
  ul {
    padding-left: 15px;
  }
  &::before, &::after {
    content: '';  /* Insert pseudo-element */
    margin: auto; /* Make it push flex items to the center */
  }
  overflow-y: auto;

}

.topWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.playpause {
  position: absolute;
  left: 220px;
  top: 70px;
  cursor: pointer;
}

#flipButton {
  position: absolute;
  left: 220px;
  top: 140px;
  cursor: pointer;
}


#silcanvas canvas {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 300px;
}

#thumblabel {
  position: absolute;
  top: 10px;
  left: 220px;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#probnum,
#timer {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#probnum {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
#timer {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  color: #555;
  white-space: pre-wrap;
}

svg text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#levelSelectorWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.cardArrow {
  color: #555;
  z-index: 1;
}

#legendWrapper {
  color: #555;
  position: absolute;
  width: 300px;
  top: 200px;
  left: 0px;

  > div {
    // height: 20px;
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }
    > div:nth-child(1) {
      width: 85px;
      white-space: nowrap;
      justify-content: flex-end;
      margin-right: 20px;
    }
    > div:nth-child(2) {
      width: 150px;
      margin-right: 20px;
      white-space: nowrap;
    }
    > div:nth-child(3) {
      width: 40px;
      justify-content: center;
    }
  }

  > div:nth-child(n + 2) {
    font-family: "Inconsolata", monospace;
    font-size: 14.5px;

    > div:nth-child(1) {
      text-transform: uppercase;
    }
    > div:nth-child(3) {
      white-space: pre-wrap;
    }
  }

  > div:nth-child(1) {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
  }

  > div:nth-child(1) {
    > div:nth-child(2) {
      padding-left: 45px;
    }
  }
  > div:nth-child(4) {
    > div:nth-child(2) {
      padding-left: 9.25px;
    }
  }
}
.colorBar {
  width: 100%;
  // width: 100px;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
.whiteBar {
  background-color: white;
  width: 94.3167px;
  height: 10px;
  // height: 100%;
}
.ryg {
  background: linear-gradient(to right, #0f0, #ff0 50%, #f00);
}

.blue {
  background: linear-gradient(to right, hsl(240, 0%, 73%), hsl(240, 100%, 73%));
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}